<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>kenneth.liu.xy</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw+6SV1PLdU1nXRq3ESdgd+O9FX+9gQb9u+Lv5/H7bdn5c5DMutINUcwsA3TC74mYxcWtQqfM8jM2rl+Daar7v1A==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.13">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.20">
      <emailAddress>kenneth.liu.xy@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.57.2">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.0.4">
      <data class="concurrent-hash-map">
        <entry>
          <string>tikv/busyjay%2Fremove-realtime-signal</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/javaforfun%2Fuse-flatmap-raft-prs</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb-tools/chendahui%2Ffixed-syncer-hang</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/zhangjinpeng%2Flock-cf-mem-bloom</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>FOR_TEST_USE/pd-copy/PR-2</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/maxiaoyu%2Fcomment_refiner</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/busyjay%2Fsupport-pre-apply</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/qupeng%2Fjson-functions</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hhkbp2%2Fgrpc</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/disksing%2Fevent-loop</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hanfei%2Flowerbound</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/busyjay%2Flazy-snap</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/ov%2Fcheck-cluster-id</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/zhangjinpeng%2Fapply-disable-wal</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/ngaut%2Fincrease-region-size</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/busyjay%2Fenable-static-link</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/tiancaiamao%2Fretry-prepared-statement</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/disksing%2Flog</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hanfei%2Frace</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/shirly%2Fendpoint_threadpool</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/busyjay%2Freuse-timer</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/xhy%2Finfer-bit</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/tiancaiamao%2Fretry-infoschema-change</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/siddontang%2Fupdate-rc2.2</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/tiancaiamao%2Fcheck-localstore</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hanfei%2Ftasktp</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pd/shuning%2Fadd-metrics</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb-tools/iamxy%2Fjenkinsfile</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb-tools/GI%2Fgtid</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/xhy%2Feval</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hanfei%2Finlj-plan</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pd/shuning%2Fuse-iec-size</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/zhangjinpeng%2Fscheduler-command-pri</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb-tools/chendahui%2Fbeautify-gtids</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hhkbp2%2Fgrpc-refactor-conn-map</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb-binlog/iamxy%2FJenkinsfile</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hanfei%2Findex</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/chendahui%2Falter-table-fulltext</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/shenli%2Fddl-syncer-comment</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/qupeng%2Fvirtual-column</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/zimuxia%2Fddl-etcd-owner</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/busyjay%2Fsplit-prof</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/zhangjinpeng%2Freport-written-keys</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/shirly%2Fdag_index_scan</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/zhangjinpeng%2Frc2.2</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/disksing%2Fgrpc-cleanup</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb-tools/GI%2Fsyncer-table-route</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hhkbp2%2Ffix-retry-without-limit-when-commit-the-primary</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/hhkbp2%2Ffix-sst-format-snapshot-panic</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pd/shuning%2Frecover-tool</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/tiancaiamao%2Ferror-code</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/tiancaiamao%2Freferences-priv</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/zimuxia%2Fddl-remove-start</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/javaforfun%2Fsync-raft-log</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/xhy%2Fclasstype</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/xhy%2Fissue3340</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/shirly%2Fvendor_import</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/zimuxia%2Fddl-etcd-ver</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hhkbp2%2Fgrpc-refactor-conn-pool</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/xhy%2Fadd-castXasX</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pd/shuning%2Foperator-state</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/xhy%2Fhybrid</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/lishihai%2Fadd-commit-request</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/tiancaiamao%2Fcancel-err-drop-cache</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/zimuxia%2Ftest-stable</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hanfei%2Fdoubleread</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/zimuxia%2Fddl-syncer</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/disksing%2Fmetrics</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hhkbp2%2Fgrpc-client</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb-tools/iamxy%2Fmake-test</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/xhy%2Fissue3356</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pd/zhangjinpeng%2Fbalance-hot-peer</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hhkbp2%2Ftikv-store-cleanup</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/tiancaiamao%2Fctx-backoff</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/zhangjinpeng%2Fbench-memtable-get</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hanfei%2FnullCount</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/zimuxia%2Fddl-job</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/zimuxia%2Fserver-close</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/disksing%2Fgrpc-rs</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/iamxy%2Funportable-release-support</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/disksing%2Fconn-pool-metrics</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hanfei%2Finlj</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hanfei%2Flower</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/zhangjinpeng%2Fwb-with-capacity</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/lishihai%2Foptimize-raft-entry-fetch</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/qupeng%2Fdocument-store</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/shirly%2Fdag_table_scan</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/tiancaiamao%2Fasync-getts-worker-goroutine-leak</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/lishihai%2Fadd-prewrite-request</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb-tools/GI%2Ffix</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pd/tiancaiamao%2Fpdclient-getts</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pd/shuning%2Fbootstrap-time</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb-tools/iamxy%2Ffix-syncer-test</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hanfei%2Fnc</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hanfei%2Ftask</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb-tools/chendahui%2Fhot-fix</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hhkbp2%2Ffix-context-cancelation-for-2pc-commit</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/shirly%2Fimport</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tikv/javaforfun%2Freplace-hashmap-peer-cache</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/xhy%2Fcast</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/hanfei%2Ftest</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb-tools/chendahui%2Fcopyright-2017</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>tidb/tiancaiamao%2Fcopiterator-worker-fix</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.0">
      <providerId>org.jenkinsci.plugins.blueoceandisplayurl.BlueOceanDisplayURLImpl</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$cwts4XcDWaI5fKs74W6uO.5m/I8esqswUWW.pPGIrxXH0GENv2TQS</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1494845157665</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>